__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec

venv/
.venv/
.env
.env/
.python-version

*.log
pip-log.txt

htmlcov/
.tox/
.coverage
.cache
.pytest_cache/