langchain
langgraph
langchain-core
langchain-openai
langchain-groq
langchain-community

pydantic
pydantic-settings

langgraph-checkpoint-postgres
psycopg-pool

fastapi
uvicorn
python-dotenv

nltk
ipython
