# Core LangChain/LangGraph
langchain
langgraph
langchain-core
langchain-openai
langchain-groq
langchain-community

# For Structured Data & Validation
pydantic
pydantic-settings

langgraph-checkpoint-postgres
psycopg-pool

# Server & API
fastapi
uvicorn
python-dotenv

# Utilities
spacy
nltk
pydantic
